
@font-face {
    font-family: 'iransans';
    src:  url('IranianSans.ttf') format('truetype')
  }
  *{
    margin: 0;
    padding: 0;
    font-family: "iransans";
}

.header{
    font-size: 12px;
    background-color: #e5f2fe;
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: center;
    

}
.headerContainer{
    height: 100%;
    width: 80%;
    display:flex ;
    flex-direction: row-reverse;


}
.headerTextContainer{
    height: 100%;
    width: 70%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}
p{

    direction: rtl;
}
.headerIcon{
  font-size: 20px;
  margin-left: 10px;
  color: #1780df;
  

}
.headerIcon:hover{
    color: #ee6b64;
    cursor: pointer;
}
.headerText{
    color: #6e7794;

}
.headerButton{
    background-color:#1780df;
    height: 75%1;
    width:15%;
    display: flex;
    direction: rtl;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color: white;
    margin: 8px 0px;
    margin-right: auto;


}
.menuContainer{
    
    color: black;
    display: flex;
    flex-direction: row-reverse;
    height: 100%;
    width: 85%;
    margin: 0px auto;


}
.menu{
    list-style: none;
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    height: 80px;
    align-items: center;

}
.menu li{
    display: flex;
    flex-direction: row-reverse;
    color: #3b4157;
    width: 15%;
}
.menuImage{
    margin-left: 30px;

}
.menuItems{
    margin-top: 20px;
    
}
.menuButton{
    margin-top: 20px;
    margin-right: auto;
    background-color:#ededed;
    height: 40%;
    width: 700px;

    justify-content: center;
    align-items: center;
    border-radius: 100px;

 
}
.loginIcon{
    color: #1780df;
    margin-right: 7px;
    transform: rotateY(180deg)

}
.menuButtonText{
    color: #1780df;
}
.menuButton:hover {
    color: red;
    cursor: pointer;
}


.menu li:hover{
    color: red;
    cursor: pointer;

}
.menuButton span:hover{
    color: red;

}
.searchContainer{

    height: 300px;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
   

}
.searchText{
    background-image: url(/5ef8034.png);
    background-size: cover;
    height: 100%;
    width: 80%;
    background-color:#1780df;
    display: flex;
    align-items: center;
    border-radius: 20px;
   flex-direction: column; 
}
.searchTitle{
    color: white;
    margin:40px;

   
  
  
}
.searchBar{
    width: 80%;
    height: 20%;
    display: flex;
    flex-direction: row-reverse;
    border-radius: 0 10px 10px 0;

align-items: center;


}
.searchBarInput{
    height: 100%;
    width: 60%;
    direction: rtl;
    border-radius: 0 10px 10px 0;
    border: none;
   
    
}
.icon-location{
    color: #acadaf;
    border-right:1px solid #ededed ;
    margin-right: 10px;
    
    
   


}
.secondPart{
    background-color: white;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 100%;
  
}
.Location{
    color:#6c757d;
    margin-left: 70px;
    margin-right: 25px;
    


}
.icon-angle-down{
    color: #acadaf;
   


}
.search{
    background-color:#fb815e;
    width:20% ;
    height: 100%;
    border-radius: 10px 0 0 10px;
    color: #fb815e;
  
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
    
    border-color:#fb815e; 
}
.search1{
    color:white ;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;

}
.search:hover{
    color: #000;
    cursor: pointer;
}
  

.search:hover,.search1:hover{
    cursor: pointer;
    background-color: red;

}
   
    





.expertise {
    background-color:white;
    width: 100%px;
    height:40px ;
   
}
.epertiseText{
    color: black;
    display: flex;
    direction: rtl;
    margin-right: 125px;
    text-align: center;
    margin-top: 20px;
    font-size: larger;
}
.seeEveryOne{
    counter-reset: black;
  width: 20%;
  height: 20px;
    display: flex;
    flex-direction: row-reverse;
    
 


}
.see{
    color:#1780df;
    margin-right: 75px;
    margin-bottom: 10px;
    display: flex;
  
  
}
.icon-left-open{
    display: flex;
    color: #1780df;
   
}
.seeEveryOne span:hover{
    color:#fb815e; 
    cursor: pointer;
}
.seeEveryOne:hover{
    color:#fb815e;
    cursor: pointer;
}
.icon-left-open:hover{
    color: #fb815e;
    cursor: pointer;
}
.menuContainer2{
   
    height: 250px;
    display: flex;
   flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 0px auto;

}
.menuExpertise>li{
    border: 1px solid rgba(0,0,0,.125);
    display: flex;
    flex-direction: column-reverse;
    height: 125px;
align-items: center;   
}
.menuExpertise>li:hover{
    box-shadow: 0 3px 6px 0 rgba(0,0,0,.16);
    cursor: pointer;
}
.menuExpertise{

    list-style: none;
    display: flex;
   flex-direction: row-reverse;
    width: 100%;
    height: 80px;
  
    margin: 0px auto;
    justify-content: space-evenly;

}
.orthopedics{

    display: flex;
    flex-direction: column;
    border-radius: 20px;

}
.textOrthopedics{
  color: #3b4157;
    display: flex;
   flex-direction: column-reverse;
   margin-top: 30px;
}
.image{
background-color: #e8c9fd;
width:90px;
height:100px;
display: flex;
justify-content: center;
align-items: center;
margin-top: 20px;
 
}


.orthopedics:hover{
    color: chartreuse;
    cursor: pointer;
}
.textOrthopedics:hover{
  
    cursor: pointer;
}
image:hover{
   
    cursor: pointer;
}
.urologys{
    display: flex;
    flex-direction: column-reverse;
    border-radius: 20px;
}

.textUrology{
    color: #3b4157;
    display: flex;
   flex-direction: column-reverse;
   margin-top: 30px;
}
.image2{
    background-color:#fcbaba ;
width:90px;
height:100px;
display: flex;
justify-content: center;
align-items: center;
margin-top: 20px;

}
.urologys:hover{
color: chartreuse;
cursor: pointer;

}
.skin{
    display: flex;
    flex-direction: column-reverse;
    border-radius: 20px;
}

.textSkin{
    color: #3b4157;
    display: flex;
   flex-direction: column-reverse;
   margin-top: 30px;
}
.image3{
    background-color:#b3e8ca;
    width:90px;
    height:100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.gynecology{
    display: flex;
    flex-direction: column-reverse;
    border-radius: 20px;

}
.textGynecology{
    color: #3b4157;
    display: flex;
   flex-direction: column-reverse;
   margin-top: 30px;

}
.image4{
    background-color:#abc2d8;
    width:90px;
    height:100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.internal{
    display: flex;
    flex-direction: column-reverse;
    border-radius: 20px;

}
.textInternal{
    color: #3b4157;
    display: flex;
   flex-direction: column-reverse;
   margin-top: 30px;
   display: flex;
   flex-direction: column-reverse;
   margin-bottom: 5px;
   justify-content: center;
   align-items: center;
}
.image5{
    background-color:#fbcbee;
    width:90px;
    height:60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 22px;
    display: flex;
    flex-direction: column-reverse;
}
.ent{

    display: flex;
    flex-direction: column-reverse;
    border-radius: 20px;

}
.textENT{
    color: #3b4157;
    display: flex;
   flex-direction: column-reverse;
   margin-top: 30px;

}
.image6{
    background-color:#c5e1fb;
    width:90px;
    height:100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;

}
.neurology{
    display: flex;
    flex-direction: column-reverse;
    
    border-radius: 20px;
   
}
.tectNeurology{
    color: #3b4157;
    display: flex;
   
   margin-top: 30px;
   display: flex;
   flex-direction: row-reverse;
   margin-bottom: 5px;
   justify-content: center;
   align-items: center;
}
.image7{
    background-color:#fdcdb0;
    width:90px;
    height:60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 22px;
    display: flex;
 flex-direction: column-reverse; 
}
.neurology:hover{
    cursor: pointer;
}
.neurology::shadow{
    color: chartreuse;
    text-shadow: 10px 10px 10px #000000;
}




.secondPage{

display: flex;
justify-content: center;
height: 700px;


}
.mainBox{
    width: 82%;
    height: 100%;
    display: flex;

    align-items: center;
    flex-direction: row-reverse;
    
}
.rightBox{
   
    display: flex;
    align-items: center;
    height: 100%;
direction: rtl;
    width: 50%;
   
}
.textOfRightBox h3{
    color: black;
    margin-bottom: 30px;
}
.leftBox{
    width: 50%;
    height: 70%;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}
.smallBox{
    padding: 10px;
    background-color: #e5f2fe;
    position: relative;
    width: 90%;
    display: flex;
    flex-direction: column;
    height: 80%;
    margin-bottom: auto;
    border-radius: 20px;
    

}
.bottomBox{
    margin-top: auto;
display: flex;
flex-direction: row-reverse;
align-items: center;


}
.seeComment{
    margin-right: auto;
}

.nameDr{
    font-size: large;
    direction: rtl;
    margin-right: 10px;
}
.expertiseOfDr{
    font-size: large;
    margin-right: 20px;
}
.seeComment{
    background-color:#fb815e ;
    font-size: large;
    border-radius: 20px;
}
.seeComment:hover{
    color: #fd7e14;
    cursor: pointer;
}
.iconImage{
    position: absolute;
    top: -40px;
    right: 10px;
    
}
.goodDr{
    margin-top: 50px;
}
.imageDoctor{
    width: 100px;
    height: 100px;
    border-radius: 50px;
}
.expertiseOfDr{
    margin-right: 1px;
    font-size: 15px;
}